.root
{
-fx-background-color:#279c94;
-fx-border-color: #f1f1f2;
-fx-border-width: 5px;
}
.start_toolbar,.login_toolbar,.order-toolbar{
-fx-pref-width:590px;
-fx-background-color:#003448;
}
.orderlist{
-fx-background-color: #003448;
-fx-border-color:  #2196f3;
-fx-border-width: 1px;
}
 .text,.current-name,.changing-text{
-fx-font-weight:bold;
-fx-font-family: SansSerif;
}
.current-name{
-fx-font-size:18px;
}
.button,.logout_but,.newadmin-but{
  -fx-text-fill: #7a2048;
  -fx-background-color: #c4dfe6;
  -fx-font-size: 12px;
  -fx-text-alignment: center;
  -fx-background-radius: 40px;
  -fx-font-weight: bold;
}
.button:hover {
  -fx-background-color: #344c64;
  -fx-text-fill: #2196f3;
  -fx-scale-X: 1.1;
  -fx-scale-y: 1.1;
}
.logout_but{
  -fx-pref-width: 80px;
}
.head,.newadmin-head,.changing-head{
 -fx-font-size: 17px;
 -fx-text-fill: #f599c2;
 -fx-text-alignment: center;
 -fx-font-weight:bold;
}
.profile{
-fx-background-color:#90afc5;
-fx-border-color: #763626;
-fx-border-width: 2px;
}
.view{
-fx-background-color:#763626;
}
.profile_head{
-fx-background-color:#e3867d;
}
.newadmin-head{
 -fx-font-size: 20px;
}
.newadmin-label{
-fx-font-size: 20px;
-fx-text-fill: #003448;
}
.newadmin-but{
-fx-font-size:14px;
-fx-pref-width: 100px;
}
.fields{
-fx-background-color:#fbeaeb;
}
.changing-head{
-fx-font-size: 25px;
-fx-fill:#f599c2;
}
.changing-text{
-fx-fill: #763626;
}
.orders-but{
-fx-pref-width:70px;
}
.about-but{
-fx-pref-width:120px;
-fx-font-size: 14px;
}
.exit-but{
-fx-pref-width: 80px;
}
.order-toolbar{
-fx-pref-width: 670px;
}
.tablecolumn{
-fx-border-color:#2196f3;
}

